@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Motorcycle Management System</h1>
    <p class="lead">This is a simple motorcycle management system.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            A simple web application for managing information about motorcycles.
        </p>
    </div>
</div>